<div class="flex mt-2 flex-col justify-center items-center">
  <div class="mb-2 " >
    <div class="text-3xl font-bold font-mono bg-indigo-400 text-white px-2 py-1 rounded-md" *ngIf="player === 'p1'">Player 1 Turn </div>
    <div class="text-3xl font-bold font-mono bg-indigo-400 text-white px-2 py-1 rounded-md"  *ngIf="player === 'p2'">Player 2 Turn </div>
    <div class="text-3xl font-bold font-mono bg-indigo-400 text-white px-2 py-1 rounded-md"  *ngIf="player === 'p3'">Player 3 Turn </div>
    <div  class="text-3xl font-bold font-mono bg-indigo-400 text-white px-2 py-1 rounded-md"  *ngIf="player === 'p4'">Player 4 Turn </div>
  </div>
  

  <div class="" *ngFor="let item of ludoBoard;let ind1=index ">
    <div class="flex">
      <div class="w-8 h-8  flex justify-center items-center"  *ngFor="let j of item; let ind2=index" [ngClass]="[ind1<=5 && ind2<=5  ?'bg-red-600':'',ind1<=5 && ind2>=9 ?'bg-green-600':'',ind1==9 && ind2<=5 || ind1==14 && ind2<=5 || ind1>9&& ind2==0 || ind1>9 && ind2==5 ?'bg-yellow-300':'',ind1==9 && ind2>=9 || ind1 >= 9 && ind2==9 || ind1 == 14 && ind2>=9 || ind1>=9 && ind2==14 ?'bg-blue-600':'',ind2>5 && ind2<9 || ind1>5 && ind1<9 ?'border border-black':'' , ind1<5 && ind2<5 && ind1>0 && ind2>0?'bg-white':'', ind1>0 && ind2>9 && ind1<5 && ind2<14?'bg-white':'',ind1==7 && ind2>0 && ind2<6 || ind1 == 6 && ind2 == 1 ?'bg-red-600':'',ind1==7 && ind2>8 && ind2<14 || ind1 == 8 && ind2 == 13 ?'bg-blue-600':'',ind2==7 && ind1>0 && ind1<6 || ind1 == 1 && ind2 == 8 ?'bg-green-600':'',ind2==7 && ind1>8 && ind1<14 || ind1 == 13 && ind2 == 6 ?'bg-yellow-300':'']">
        <div class="-translate-x-2 -translate-y-2 w-6 h-6 bg-red-400 rounded-full" *ngIf="ind1 == 2 && ind2 == 2">
        
        </div>
        <div class="translate-x-2 -translate-y-2  w-6 h-6 bg-red-400 rounded-full" *ngIf="ind1 == 2 && ind2 == 3">
        
        </div>
        <div class="translate-x-2 translate-y-2  w-6 h-6 bg-red-400 rounded-full" *ngIf="ind1 == 3 && ind2 == 3">
        
        </div>

        <div class="-translate-x-2 translate-y-2  w-6 h-6 bg-green-400 rounded-full" *ngIf="ind1 == 3 && ind2 == 11">
        
        </div>
        <div class=" -translate-y-2 translate-x-2 w-6 h-6 bg-green-400 rounded-full" *ngIf="ind1 == 2 && ind2 == 12">
        
        </div>
        <div class="translate-y-2 translate-x-2  w-6 h-6 bg-green-400 rounded-full" *ngIf="ind1 == 3 && ind2 == 12">
        
        </div>


        <div class="-translate-x-2 -translate-y-2 w-6 h-6 bg-yellow-400 rounded-full" *ngIf="ind1 == 11 && ind2 == 2">
        
        </div>
        <div class="translate-x-2 -translate-y-2  w-6 h-6 bg-yellow-400 rounded-full" *ngIf="ind1 == 11 && ind2 == 3">
        
        </div>
        <div class="-translate-x-2 translate-y-2  w-6 h-6 bg-yellow-400 rounded-full" *ngIf="ind1 == 12 && ind2 == 2">
        
        </div>
        <div class="-translate-x-2 -translate-y-2 w-6 h-6 bg-blue-400 rounded-full" *ngIf="ind1 == 11 && ind2 == 11">
        
        </div>
        <div class=" -translate-x-2 translate-y-2 w-6 h-6 bg-blue-400 rounded-full" *ngIf="ind1 == 12 && ind2 == 11">
        
        </div>
        <div class="translate-x-2 translate-y-2  w-6 h-6 bg-blue-400 rounded-full" *ngIf="ind1 == 12 && ind2 == 12">
        
        </div>
        


        <div class="w-6 h-6 bg-red-400 rounded-full" *ngIf="j.player === 'p1'">
        
        </div>
        <div class="w-6 h-6 bg-green-400 rounded-full" *ngIf="j.player === 'p2'">
        
        </div>
        <div class="w-6 h-6 bg-blue-400 rounded-full" *ngIf="j.player === 'p3'">
        
        </div>
        <div class="w-6 h-6 bg-yellow-400 rounded-full" *ngIf="j.player === 'p4'">
        
        </div>


      </div>
    </div>
   
  
  </div>
  <div  class="flex cursor-pointer  ">
    
   
    <div (click)="play()" class=" bg-indigo-400 px-4 text-white rounded-md py-2 mt-5">Dice Roll</div>
    <div><div *ngIf="number === 1"><i class="mt-5 text-4xl ml-5 fa-solid fa-dice-one"></i></div>
    <div *ngIf="number === 2"><i class="mt-5 text-4xl ml-5 fa-solid fa-dice-two"></i></div>
    <div *ngIf="number === 3"><i class="mt-5 text-4xl ml-5 fa-solid fa-dice-three"></i></div>
    <div *ngIf="number === 4"><i class="mt-5 text-4xl ml-5 fa-solid fa-dice-four"></i></div>
    <div *ngIf="number === 5"><i class="mt-5 text-4xl ml-5 fa-solid fa-dice-five"></i></div>
    <div *ngIf="number === 6"><i class="mt-5 text-4xl ml-5 fa-solid fa-dice-six"></i></div> </div>
    
  </div>

  


</div>
  
  
  
 
